* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.start {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-screen>h1 {
    font-size: 80px;
    margin-bottom: 60px;
}

#game-mode>h2 {
    font-size: 40px;
    margin-bottom: 60px;

}

#game-mode>button {
    margin-bottom: 60px;
}

button {
    width: 200px;
    height: 60px;
    font-size: 20px;
}